{{str}}
<hr>
{{str | uppercase}}
<br>
{{str | titlecase}}
<br>
{{str | slice:1:7}}
<br>
{{amount | currency}}
<br>
{{amount | currency:'INR'}}
<br>
{{amount | currency:'GBP'}}
<br>
{{dt}}
<br>
{{dt | date}}
<br>
{{dt | date:"shortDate"}}
<br>
{{dt | date:"mediumDate"}}
<br>
{{dt | date:"longDate"}}
<br>
{{dt | date:"shortTime"}}
<br>
{{dt | date:"longTime"}}
<br>
{{dt | date:"mediumTime"}}
<br>
{{dt | date:"EEE"}}
<br>
{{dt | date:"EEEE"}}
<br>
{{dt | date:"MMM"}}<br>
{{dt | date:"MMMM"}}
<br>
{{dt | date:"y"}}
<br>
{{dt | date:"a"}}
<br>
{{x | percent}}
<br>
{{obj | json}}



